{% extends 'bace.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">update profile</h1>
                    <p class="lead fw-normal text-white-50 mb-0">update user profile</p>
                </div>             
            </div>
        </header>
        <div class="container">
            <div class="rew">
                <conter>
                    <div class="col-8">
                        

                        <form method="POST" action="{% url 'update_user' %}">
                            {% csrf_token %}
                            
                            {{ user_form.as_p }}
                            
                            <button type="submit" class="btn btn-primary">
                              Update Profile
                            </button>
                        </form>
                        <br/><br/>
                        <a href="{% url 'pro' %}" class="btn btn-primary">Update user information</a>
                        <br/><br/>
                        <a href="{% url 'password' %}" class="btn btn-primary">Update Password</a>
                        <br/>



                    </div>
                <conter>
            </div>
        </div>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

{% endblock %}