{% extends 'bace.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ABOUT US</h1>
                    <p class="lead fw-normal text-white-50 mb-0">welcame to Website</p>
                </div>             
            </div>
        </header>
        <div class="container">
            <div class="rew">
                <conter>
                    <div class="col-8">
                        <br/><br/>
<p ailen="justify">
Welcome to Lost and Find, your trusted platform for reuniting lost items with their rightful owners.
Our mission is simple: to help people recover lost possessions and to offer a community-driven solution to the problem of lost and found items.
We understand the distress and inconvenience that losing something valuable can cause, and we are dedicated to making the process of finding and returning lost items as smooth and efficient as possible.
At Lost and Find, we believe in the power of community and the goodwill of people.
<br/><br/>
Our platform allows users to report lost items, post found items, and browse through listings to help reunite items with their owners.
Whether it's a lost phone, a misplaced wallet, or a cherished pet, our goal is to bring a sense of relief and joy to those who have lost something precious.
We are committed to providing a user-friendly experience, ensuring that our platform is easy to navigate and accessible to everyone. 
<br/><br/>
Our team is passionate about helping others and continually works to improve our services to better serve the community.
Join us in our mission to make the world a little bit kinder and more connected, one found item at a time.
<br/><br/>
</p>
<br/><br/>
                    </div>
                <conter>
            </div>
        </div>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

{% endblock %}
