{% extends 'bace.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Order</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome ! Please send proof of ownership of the item</p>
                </div>             
            </div>
        </header>
        <div class="container">
            <div class="rew">
                <conter>
                    <div class="col-6 offset-m-3">
                        

                        <form method ='POST' action="{% url 'order_user' %}">
                            {% csrf_token %}
                            
                            {% if message_username %}
                           <center>
                            <h2> Thank you {{ message_username }} FOR SENDING REQUEST <h2>
                           <center>
                            

                            {% else %}
                            <br/><br/>
                            <br/><br/>

                                
                              <br/><br/>
                              
                              <input type="text" class="form-control" name="username"
                              placeholder="Enter UserName">
                              <br/>
                              <input type="text" class="form-control" name="item-name"
                              placeholder="Enter the name of the item">

                              <br/><input type="text" class="form-control" name="email"
                              placeholder="Enter Your email">

                              <br/>
                              <br/><input type="text" class="form-control" name="address"
                              placeholder="Enter Your  address">
                              <br/>
                              <label for="profile-pic">send pictuer to proof ownership:</label>
                              <input type="file" id="profile-pic" name="profile-pic"><br><br>


                            </div>
                            <div class="mb-4">
                             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"placeholder="Enter Your message" name="message"></textarea>
                              
                            </div>

                            <button type="submit" class="btn btn-primary">Send order</button>
                        </form>
                        <br/><br/>

                    </div>
                <conter>
            </div>
        </div>
        
        {% endif %}
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
       
{% endblock %}